/* styles.css */
body {
  background: linear-gradient(
    to bottom right,
    rgb(44, 46, 57),
    rgb(104, 109, 133)
  );
  background-repeat: no-repeat;
  height: 98vh;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.unit-buttons {
  display: flex;
  gap: 0px;
  margin-top: 10px;
}

.celcius {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  border-right: 1px solid #ccc;
  height: 35px;
  width: 80px;
}

.fahrenheit {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  border-left: 1px solid #ccc;
  height: 35px;
  width: 80px;
}

.active {
  background-color: #75aeea;
  color: white;
}

#location {
  width: 200px;
  height: 20px;
  padding: 0 10px;
  border: none;
  border-color: white;
  background-color: #ababc4;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

.suggestions-list {
  overflow-y: auto;

  background: #f0f4f8;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0;
  margin-top: 5px;
  list-style: none;
  z-index: 10;
}

.suggestion-item {
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  color: #333;
}

.suggestion-item:hover,
.suggestion-item:focus {
  background: #e2e8f0; /* slightly darker hover */
}
